@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,900&display=swap');
*{
    font-family: 'Poppins',cursive;
}
body{
    color: azure;
    width: 100%;
    height: 100vh; /* Asegura que el fondo cubra toda la altura de la pantalla */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url('https://qu.ax/VustU.jpg'); /* Fondo con la imagen */
    background-size: cover; /* Asegura que la imagen cubra toda la pantalla */
    background-position: center center; /* Centra la imagen */
    background-attachment: fixed; /* Hace que el fondo se quede fijo al hacer scroll */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
}

.botones{
    padding: 9px;
    border-radius: 80px;
    background-color: transparent;
    border: none;
}

.botones a{
    background-color: #0a2be9;
    padding: 9px;
    border-radius: 80px;
    -webkit-border-radius: 80px;
    -moz-border-radius: 80px;
    -ms-border-radius: 80px;
    -o-border-radius: 80px;
}

.botones a:focus{
    background-color: rgb(50, 194, 194);
}

/* Estilos para el texto "Hola" */
.greetings{
    font-size: 7rem;
    font-weight: 900;
}

.greetings > span{
    animation: glow 2.5s ease-in-out infinite; /* Animaci칩n aplicada a cada letra */
}

@keyframes glow{
    0%, 100%{
        color: #ffffff; /* Color blanco cuando est치 apagado */
        text-shadow: 0 0 12px #39c6d6, 0 0 50px #39c6d6, 0 0 100px #39c6d6; /* Resplandor azul como en el c칩digo original */
    }
    50%{
        color: #FFEA00; /* Color amarillo cuando est치 "encendido" */
        text-shadow: 0 0 12px #FFEA00, 0 0 50px #FFEA00, 0 0 100px #FFEA00; /* Resplandor amarillo */
    }
}

/* Retardo para cada letra, para animarlas por separado */
.greetings > span:nth-child(2){
    animation-delay: .2s;
}
.greetings > span:nth-child(3){
    animation-delay: .4s;
}
.greetings > span:nth-child(4){
    animation-delay: .6s;
}
.greetings > span:nth-child(5){
    animation-delay: .8s;
}

.description{
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.button a{
    text-decoration: none;
    font-size: 1rem;
    color: #111;
}

@media screen and (max-width:574px){
    .greetings{
        display: block;
        font-size: 4rem;
        font-weight: 800;
        text-align: center;
    }
    .description{
        font-size: 2rem;
    }
    
    .button a{
        font-size: 1rem;
    }
}
